// Footer always on bottom
// Main will fill all remaining space
/* ----------------------------------------- */
  html {
    height: 100%; 
  }
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    main {
      flex-grow: 1;
    }
  }  
/* ----------------------------------------- Footer always on bottom */    

/* Highlights */
/* ----------------------------------------- */
  h1, h2, h3, h4, h5, h6, p, a, li, span {
    &::selection, &::-moz-selection, &::-webkit-selection {
      background-color: theme-color("primary");
      color:#fff;
    }
  }
/* ----------------------------------------- Highlights */    

/* Forms, inputs, etc */
/* ----------------------------------------- */
  input, textarea, select {
    outline-color: theme-color("primary");
  }  
/* ----------------------------------------- Forms, inputs, etc */    


/* WP Page Nav */
/* ----------------------------------------- */
  .wp-pagenavi, .dt-bootstrap4 ul.pagination, .pagination {
    a, span {
      line-height: 46px;
      min-width: 42px;
      text-align: center;
      background-color: theme-color("rosaclaro");  
      &:hover:not(.current) {
        background-color: #cca06e; 
      }
    }

    li.next a, li.previous a, 
    a.nextpostslink, a.previouspostslink, a.current {
      background-color: #cca06e;
      &:hover {
        background-color: theme-color("rosaclaro");
      }
    }
  }

  .wp-pagenavi, .pagination  {
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    a, span {
      border: 1px solid $body-bg !important;
      color: white !important;
      display: inline-block;     

      &.current {
        background-color: theme-color("rosaescuro");
      } 
    }
  }
/* ----------------------------------------- WP Page Nav */   


/* Sticky Object */
/* ----------------------------------------- */
  .sticket-object {
    &.sticky {
      position: fixed;
      top: 0;
      width: 100vw;
      left: 0;      
      z-index: 100;
    }
  }

  .affix {
    position: fixed;
    top: 1rem;    
  }
  .affix-bottom {
    position: absolute;
  }

  .affix, .affix-bottom {
    max-width: 289.98px;
  }

/* ----------------------------------------- Sticky Object */   



/* Contact Form 7 */
/* ----------------------------------------- */
  .wpcf7 {    
    &.hide-success {
      .wpcf7-mail-sent-ok {
        display: none !important;
      }
    }
  }
/* ----------------------------------------- Contact Form 7 */    


/* 
  Responsive container style 
  functions/setup @wrap_embed_with_div()
/* ----------------------------------------- */
  .responsive-container {
    position: relative;
    padding-bottom: 50.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
/* ----------------------------------------- Responsive container style */    



/* WordPress WYSIWYG Editor Styles */
/* ----------------------------------------- */
  .hentry {   
    img {
      max-width: 100%;
      height: auto;
    }
    a:not(.btn) { 
      color: theme-color("primary");
      &:hover { text-decoration: underline;}
    }
    .entry-content img {
      margin: 0 0 1.5em 0;
    }
    .alignleft, img.alignleft {
      margin-right: 1.5em;
      display: inline;
      float: left;
      }
    .alignright, img.alignright {
      margin-left: 1.5em;
      display: inline;
      float: right;
      }
    .aligncenter, img.aligncenter {
      margin-right: auto;
      margin-left: auto;
      display: block;
      clear: both;
      }
    .alignnone, img.alignnone {
    /* not sure about this one */
    }
    .wp-caption {
      margin-bottom: 1.5em;
      text-align: center;
      padding-top: 5px;
      img {     
        border: 0 none;
        padding: 0;
        margin: 0;          
      }
      p.wp-caption-text {
        line-height: 1.5;
        font-size: 10px;
        margin: 0;
      }
    }
    
    .wp-smiley {
      margin: 0 !important;
      max-height: 1em;
    }
    blockquote.left {
      margin-right: 20px;
      text-align: right;
      margin-left: 0;
      width: 33%;
      float: left;
    }
    blockquote.right {
      margin-left: 20px;
      text-align: left;
      margin-right: 0;
      width: 33%;
      float: right;
    }
  }
/* ----------------------------------------- WordPress WYSIWYG Editor Styles */   

/* Default Style Dropdown */
/* ----------------------------------------- */
      
  .select-box {   
    background-color: white;
    margin: 0 !important;
    margin-bottom: .5em !important;
    position: relative;
    // border: 1px solid fade-in(theme-color("primary"), 20%);
    z-index: 2;
    width: 100%;    
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;   
    
    box-shadow: inset 0px 0px 5px 0px rgba(194,194,194,1);  
    border: .5 solid rgba(194,194,194,1);   

    select {    
      appearance:none;
      position:relative;      
      z-index: 2;
      width: 100%;
      background:transparent;
      margin: 0 !important;
      display: inline-block;
      padding: .8rem .75rem;  
      font-size: 0.9rem;
      border-radius: 0px;             
      color: $body-color; 
      padding-right: 30px;      
      &:hover {
        cursor: pointer;
      }
      option {
        color: black;
      }
    }     
    
    &::after {
      // content:"\f078";
      content:"\f0d7";
      font-family: FontAwesome;       
      position:absolute;
      right: 8px;
      top: 50%;
      color: theme-color("primary");        
      z-index:10;        
      font-size: 22px;
      line-height:10%;      
    }
  }
/* ----------------------------------------- Default Style Dropdown */    

/* ACF Map */
/* ----------------------------------------- */
  
  .acf-map {
    height: 400px;
    img {
      max-width: inherit !important;
    }
  } 

/* ----------------------------------------- ACF Map */   


/* Bootstrap Navbar Toggle Close Animation 
 * Usage:
 * Remove <span> inside .navbar-toggler
 * Insert new 3 <span> in .navbar-toggler
 * Add class .animation-close-toggle to navbar element
 * Add class .collapsed in button.navbar-toggler
/* ----------------------------------------- */
  .navbar.animation-close-toggle {

    .navbar-toggler {
      position: relative;

      &:focus, &:active {
        outline: 0;
      } // &:focus, &:active

      span {
        display: block;
        background-color: #444;
        height: 3px;
        width: 25px;
        margin-top: 4px;
        margin-bottom: 4px;      
        transform: rotate(0deg);
        position: relative;
        left: 0;
        opacity: 1;
        &:nth-child(1), &:nth-child(3) {
          transition: transform .35s ease-in-out;
        } // &:nth-child(1), &:nth-child(3)
      } //span
      
      &:not(.collapsed) {
        span:nth-child(1) {
          position: absolute;
          left: 12px;
          top: 10px;
          transform: rotate(135deg);
          opacity: 0.9;
        } // span:nth-child(1) 

        span:nth-child(2) {
            height: 12px;
            visibility: hidden;
            background-color: transparent;
        }
        
        span:nth-child(3) {
            position: absolute;
            left: 12px;
            top: 10px;
            transform: rotate(-135deg);
            opacity: 0.9;
        }

      } //&:not(.collapsed)

    } // .navbar-toggler
  }
/* ----------------------------------------- Bootstrap Navbar Toggle Close Animation */     