
/* ACF Fields only to user-1 */
/* ----------------------------------------- */
	body {
		// #toplevel_page_edit-post_type-acf-field-group {
		// 	display: none;
		// }
		
		// &.user-1 {
		// 	#toplevel_page_edit-post_type-acf-field-group {
		// 		display: block !important;
		// 	}
		// }


		&.user-edit-php {
			form#your-profile {				
				h2, .form-table {
					&:first-of-type, &:nth-of-type(4) {
						display: none;
					}
				}
			}	
		}

		.cadastro-usuarios {
			display: flex;
			a {
				padding: 1em;
				font-size: 60px;
				text-align: center;
				color: white;
				line-height: normal;
				margin: 20px;
				&:first-of-type {
					background-color: #003470;
				}
				&:nth-of-type(2) {
					background-color: #8e693f;
				}

				&:hover {
					opacity: .95;
				}

			}
		}
	}
/* ----------------------------------------- ACF Fields only to user-1 */		
