// https://fonts.google.com/specimen/Raleway?selection.family=Raleway:700|Roboto+Condensed:400,700
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto+Condensed:400,700|Roboto:400,700');

@import "bootstrap/functions";
@import "bootstrap/mixins";
@import "variables";
@import "pp/pp-styles";


// Hack para mudar cores conforme pedido do cliente
.btn-rosaclaro, #carousel-secoes-wrapper .btn-secondary, #carousel-last-posts-wrapper .btn-secondary {
	background-color: #20C341;
	border-color: #20C341;

	&:hover {	  
	  background-color: darken(#20C341, 7.5%);
	  border-color: darken(#20C341, 10%);
	}

	.bg-primary {
		background-color: darken(#20C341, 7.5%) !important;
	}

}

.btn-azulsecovi {
	.bg-primary {
		background-color: darken(theme-color(azulsecovi), 7.5%) !important;
	}
}

/* Header */
/* ----------------------------------------- */
	header#header {
		background-color: white;
		#navmenu {
			.navbar-nav {
				> li {
					> a {
						font-family: "Roboto Condensed", sans-serif;
						text-transform: uppercase;
						font-weight: bold;
						font-size: 1rem;
						&:hover {
							color: theme-color("secondary");
						}

						@include media-breakpoint-up(lg) {
							font-size: .8rem; 
						} // Large devices (desktops, 992px and up) 
						@include media-breakpoint-up(xl) {
							font-size: 1rem; 
						} // Extra large devices (large desktops, 1200px and up) 
					}

				}
			}
		}	

		@include media-breakpoint-down(xs) {
			.navbar-brand {
					max-width: 170px;
			}
			.botoes-links-extras {
				flex-direction: column;
				margin-left: 0;
				.btn {
					padding: 1rem 0.8rem;
					width: 100%;
					text-align: center;
					border-bottom: 1px solid white;
				}
			}
		} // Extra large devices (large desktops, 1200px and up) 

		@include media-breakpoint-up(md) {
			#navmenu {
				.navbar-nav {
					justify-content: center;
					width: 100%;
					.dropdown-toggle {
						&:after {
							display: none;
						}
					} 
					
					.dropdown-menu {
						border: 1px solid theme-color("rosaclaro");
						border-top: 0;
						margin-top: 0;
						padding: 0;
						li {
							a {
								color: theme-color("secondary");
								font-weight: bold;
								font-size: .8rem;
								padding: .7rem 1.5rem;
								transition: 300ms ease background-color;
								letter-spacing: 1px;
								&:hover {
									background-color: theme-color("primary");
									color: white;
								}
							}
						}
					}
					// Dropdown on Hover
					.dropdown:hover>.dropdown-menu {
					  display: block;
					}

				}
			}
	
		} // Large devices (desktops, 992px and up) 
		
		@media (min-width: 1200px)  {
			 .container-fluid {
			 	max-width: 1200px;
			 }
			 #menu-global {
					justify-content: center;
					li{
						&.destaque-classificados{
							a{
								color: #FE5722;
								-webkit-transition: all 300ms ease-in-out;
								-moz-transition: all 300ms ease-in-out;
								-ms-transition: all 300ms ease-in-out;
								-o-transition: all 300ms ease-in-out;
								transition: all 300ms ease-in-out;
								&:hover{
									color: #EB3900;
									-webkit-transition: all 300ms ease-in-out;
									-moz-transition: all 300ms ease-in-out;
									-ms-transition: all 300ms ease-in-out;
									-o-transition: all 300ms ease-in-out;
									transition: all 300ms ease-in-out;
								}
							}
						}
					}
			 }
			 #navmenu .navbar-nav>li>a {
			 	font-size: 1rem;
			 }
		} // @media (min-width: @screen-lg-min) 		
		
		@media (min-width: 1400px)  {
			.col-xl-3 {
				max-width: 300px !important;
			}
			.container-fluid {
				max-width: 1400px;
			}
		}
	}

	#headline-menu-wrapper {		
		@include media-breakpoint-up(sm) {
			background-color: $body-bg; 
		} // Extra large devices (large desktops, 1200px and up) 

		.redes-sociais {
			margin-bottom: 0;
			padding-left: 1rem;
			padding-right: 1rem;
			background-color: $body-bg;
			a {
				color: #a5a5a5;
				padding: .4rem;
				display: block;
				&:hover {
					color: theme-color("primary");
				}
			}

			i {
				&.fa-facebook { color: theme-color(secondary); }
				&.fa-instagram { 
					width: 15px;
					height: 17px;
					margin-top: 6px;
					background: url('../img/icon-instagram.svg') no-repeat center center;
					background-size: contain;
					&:before {
						display: none;
					}
				}
				&.fa-twitter { color: theme-color(azulsecovi); }
				&.fa-youtube-play { color: red; }
				&:hover {
					opacity: .8;
				}
			}
		}
		.botoes-links-extras {
			margin-bottom: 0;
			display: flex;
			list-style: none;
			margin-left: auto;
			padding: 0;
			li {
				margin-right: 0;
				a {
					color: white;
					&.bg-transparent {
						padding: 9px;
					}		
				}
			}
		}
	}

	// Fixed Menu 	
	header#header {
		@include media-breakpoint-up(lg) {
			position: fixed;
		    width: 100%;
		    z-index: 9999;
		    + * {	    	
		    	margin-top: 153px !important;

		    	@include media-breakpoint-up(lg) {
		    		margin-top: 139px !important; 
		    	} // Large devices (desktops, 992px and up) 
		    }
		} // Large devices (desktops, 992px and up) 			
	}
/* ----------------------------------------- Header */		

/* Footer */
/* ----------------------------------------- */
	#scroll-top {
		display: none;
		@include media-breakpoint-up(md) {
			background-color: theme-color(secondary);
			color: white;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 30px; 
			position: fixed;
			bottom: 10%;
			right: 10px;
			text-decoration: none;
			transition: 300ms ease all;
			opacity: 0;
			&:hover {
				text-decoration: none;
				background-color: darken(theme-color(secondary), 7%);
			}
			i {
				margin-bottom: 2px;
			}
		} // Large devices (desktops, 992px and up) 
	}
	footer#footer {
		background-color: #004f98;
		color: white;
		text-align: center;		
		
		#newsletter {
			background-color: #014483;
			padding-top: 1rem;
			padding-bottom: 1rem;
			h3 {				
				font-size: 1.4rem;
				color: inherit;
			}

			form {				

				.form-group {
					margin-bottom: 0;
					margin-right: 10px;
					input[type="email"] {
						background-color: white;
					}
				}
				.wpcf7-response-output {					
					width: 100%;
				}
			}
		}

		#infos {
			font-family: "Roboto Condensed", sans-serif;
		}

		* {
			font-size: .9rem;
		}
		h4 {
			text-transform: uppercase;			
			margin-bottom: 0;
			margin-top: 2rem;
			color: inherit;
		}
		a {
			color: white;
			&:hover {
				color: theme-color("primary");
				text-decoration: none !important;
			}
			small {
				margin-right: 3px;
				font-size: .8rem;
			}
			i {
				margin-left: 4px;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			li {								
				a {
					padding: 0;					
					display: inline-block; 
				}
			}
		}
		
		.logotipo-rodape, #react-logo  {
			margin-top: 3rem;
			margin-bottom: 1rem;
			display: inline-block;
		}		

		@include media-breakpoint-up(lg) {
			 #infos {
			 	text-align: left;
			 }
			 .logotipo-rodape, #react-logo  {
			 	margin-top: 2rem;
			 }
		} // Large devices (desktops, 992px and up) 

	}
	
/* ----------------------------------------- Footer */		

/* Elementos */
/* ----------------------------------------- */
	#breadcrumbs {
		a, span {
			color: $body-color;
			font-size: 1rem;
			font-weight: 700;
		}
		padding-bottom: 2rem;
	}
	.btn {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: bold;
		font-size: 13px;
		letter-spacing: 1px;
		&:hover {
			cursor: pointer;
		}
		&.btn-rosaclaro {
			color: white;
		}		
		&.btn-icon {
			position: relative;
			border: 0;
			i {
				top: 0;
				position: absolute;
				height: 100%;
				width: 50px;
				display: flex;
		    align-items: center;
		    justify-content: center;
		    font-size: 22px;
			}
			&.btn-icon-left {
				padding-left: 70px;
				i {
					left: 0;		
				}
			}
			&.btn-icon-right {
				padding-right: 70px;
				i {
					right: 0;	    
				}
			}
		}
	}

	.shortcode-botaopdf {
		padding: 1rem 0;
		> div {
			margin-right: 1rem;
		}
		a {
			color: $body-color !important;
		}
	}

	.infos {
		padding: 0;
		list-style: none;
		li {
			font-weight: 700;
			font-size: .9rem;
		}
	}

	.lista-items {
		.imagem {
			margin-top: .5rem;
			margin-right: 1rem;
			flex-shrink: 0;
		}
	}
/* ----------------------------------------- Elementos */		

/* Listas */
/* ----------------------------------------- */
	.hentry {
		.veja-tambem-title {
			border-bottom: 3px solid theme-color("primary");
			padding-bottom: .7rem;
			padding-top: 3rem;		
		}
		ul.veja-tambem {
			li {
				text-transform: uppercase;
				line-height: 2rem;
				a {
					color: theme-color("secondary");
					font-family: "Roboto Condensed", sans-serif;
					font-weight: 700;
					font-size: .8rem;
				}
			}
			@include media-breakpoint-up(md) {
				columns: 3;
			} // Large devices (desktops, 992px and up) 
		}
	}
	.list-taxonomy {
		padding: 2rem 0;
		a {
			color: $body-color;
		}
		> li { 
			> a { 
				font-weight: bold;
			}
			ul {
				padding: 1rem;
				list-style: none;				
			}
		}
	}
	ul.links-rodape {
		border-top: 2px solid theme-color('secondary');
		margin-top: 2rem;
		padding-top: .5rem;
		li {
			margin-left: 3rem;
			a {
				font-family: "Roboto Condensed", sans-serif;
				font-weight: bold;
				text-transform: uppercase;
				font-size: .8rem;
				color: #004a8d !important;
			}
		}
	}
/* ----------------------------------------- Listas */		

/* Sidebar */
/* ----------------------------------------- */
	aside#sidebar {
		.widget {
			margin-bottom: 1rem;
			
			&.widget_media_image {
				img {
					margin: 0 auto;
					display: block;						
					@include media-breakpoint-up(md) {
						min-width: 100%;
					} // Large devices (desktops, 992px and up) 
				}
			}
		}
	}
/* ----------------------------------------- Sidebar */		

/* Formulários */
/* ----------------------------------------- */
.wpcf7 {
	.uploadfieldtrick {
		font-size: 14.4px;
		font-family: "Roboto Condensed", sans-serif;
		position: relative;
	}

	#fileuploadfield {
		display:none;
	}
	
	.uploadtextfield {
		display: block;
		input {
			width: 100%;
		}
	}
	
	#uploadbrowsebutton {
		padding: 11.5px;
    position: absolute;
    bottom: 0;
		right: 5px;
		cursor: pointer;
	}


}


/* ----------------------------------------- Formulários */		

/* Busca */
/* ----------------------------------------- */
	#search-box {
		.select-box, .search-field {
			margin-right: 10px !important;
			margin-bottom: 0 !important;
			background-color: #dbdbdb;
			box-shadow: inset 0px 0px 5px 2px rgba(194,194,194,1);
			color: #757e84;
			font-size: 14px;
			// max-width: 190px;
		}
		.select-box {
			display: flex;
			box-shadow: inset 0px 0px 5px 3px rgba(194,194,194,1);
			select {
				color: #757e84;
			}
		}
		* {
			font-family: "Roboto Condensed", sans-serif;
			font-weight: bold;
			text-transform: uppercase;
		}

	}

	.icon-search-right {
		background: url('../img/icon-search.png') no-repeat right center;
		padding-right: 35px;
	}
/* ----------------------------------------- Busca */		


/* Tabelas */
/* ----------------------------------------- */
	tr[data-url] {
		cursor: pointer;
		&:hover {
			td {
				background-color: $gray-100;
			}
		}
	}
	.table-secovi-row {
		padding-top: 2rem;
	}
	table.table-secovi {
		opacity: 0;
		transition: 1s ease all;
		background-color: white;
		margin-top: 8px !important;
		width: 100%;
		&.dataTable {
			opacity: 1;
			margin-top: 8px !important;
		}
		thead {
			background-color: theme-color("secondary");			
			th {
				padding: 10px 5px !important;
				position: relative;			
				color: white;
				font-weight: 400;		
				.select-box {
					position: inherit;
					background-color: transparent;
					margin: 0 !important; 
					box-shadow: none;
					select {
						color: white;
						border: 0;
						&:focus {
							outline: none;
						}
					}
					&:after {
						color: white;
					}
				}
			}
		}
		tbody {
			tr {				
				td {
					color: $body-color; 
					font-size: 14px;
					padding: 20px 10px 21px !important;
					position: relative;
					&:after {
						display: block;
						position: absolute;
						bottom: 0;
						height: 1px;
						left: 0;
						width: 100%;
						background-color: theme-color("secondary");
						content: "";
					}

					&:first-of-type {
						border-left: 8px solid white; 
					}
					&:last-of-type {
						border-right: 8px solid white;
					}

				}
				
				&:last-of-type td:after {
					display: none;
				}			
			}
		}
	} // table.secovi
	.dt-bootstrap4 .dataTables_paginate ul.pagination {
		margin-top: 3rem !important;
		li {
			border: 2px solid transparent;
			&.disabled {
				display: none;
			}
			a {
				line-height: 35px;
			}
		}
	}
/* ----------------------------------------- Tabelas */		

/* Enquetes */
/* ----------------------------------------- */
	.widget_polls-widget {
		background-color: fade-out(white, .6);
		padding: 2rem;		
		text-align: left;
		.title {
			color: theme-color("secondary"); 
		}
		ul {
			margin-left: 0;
			li {
				font-size: .8rem;
				&:hover {
					color: theme-color("secondary");
					cursor: pointer;
				}
			}
		}
		.link-resultado {
			font-size: .8rem;
		}
		.btn {
			display: inline-block;
			padding: .5rem 1.5rem;
			text-transform: uppercase;			
		}
	}
/* ----------------------------------------- Enquetes */		


/* Download with filter and search */
/* ----------------------------------------- */
	.itens-download {
		a {
			color: $body-color !important;
			display: block;
			margin-bottom: 2rem;

			p.card-text {
				font-size: 1rem;
				padding-top: .5rem;
				font-weight: bold;
			}			

			&:hover {
				color: theme-color("primary") !important;
				text-decoration: none !important;
				img {
					opacity: .8;
				}
			}
		}
	}
	// .itens-download {
	// 	a {			
	// 		margin-bottom: 30px;
	// 		margin-top: 20px;
	// 		display: block;
	// 		&, p {
	// 			color: $body-color;
	// 		}
	// 		span {
	// 			margin-top: -0.5rem;
	// 		}

	// 		&:hover, &:hover * {
	// 			text-decoration: none !important;
	// 		}
	// 		img {
	// 			margin-right: 1rem;
	// 			margin-top: .5rem;				
	// 		}
	// 		&:hover {
	// 			span {
	// 				background-color: #d49b59 !important;
	// 				border-color: #d2954e !important;
	// 			}
	// 		}
	// 	}
	// }
/* ----------------------------------------- Download with filter and search */		

/* Geral */
/* ----------------------------------------- */
	// Limite container 
	#main-content {
		> .container {
			@include media-breakpoint-up(lg) {
				max-width: 960px; 
			} // Large devices (desktops, 992px and up) 
		}
	}
/* ----------------------------------------- Geral */		


/* Pages */
/* ----------------------------------------- */
	body {
		#main-content {
			padding-top: 90px;
			padding-bottom: 130px;
			&.content-pages {
				padding-bottom: 50px;
			}
			article {
				header {
					padding-bottom: 2rem;
				}
			}
			.conteudo {
				font-size: 1.2rem;
				.btn {
					margin-bottom: 1rem;
				}

				.gallery {
					padding: 1rem 0;
					figure {
						display: inline-block;
						margin-right: 1rem;
					}
				}
			}
		}
	}
/* ----------------------------------------- Pages */		



/* Blog */
/* ----------------------------------------- */
	body {
		&.blog, &.search, &.archive {
			#main-content {
				header {
					.page-title {
						margin-bottom: 1rem;
					}
				}	

				article.box-post {
					padding-top: 60px;
					
					h1 {
						font-size: 1.4rem;
					}

					.p1 {
						color: $body-color;
					}
				}
			}
		}
	}
/* ----------------------------------------- Blog */		


/* Contato */
/* ----------------------------------------- */
	body.page-template-page-contato {
		
		#area-contatos {
			padding-top: 3.5rem;
			padding-bottom: 4.5rem;
			.h1 {
				margin-bottom: 3rem;
			}
			p {
				font-size: 1rem;
			}
		}
		@include media-breakpoint-up(md) {
			overflow-x: hidden;
			#main-content {
				padding-top: 0;
				padding-bottom: 0;
			}
			
			#bg-full {
				padding-top: 90px;
				padding-bottom: 130px;
				position: relative;
				&:after {
				content: "";
				background-size: cover;
				position: absolute;
				height: 100%;
				left: calc(100% + 30px);
				top: 0;
				// Area total, menos margin esquerda do container
				width: calc(100vw - ( ( 100vw - 300%) / 2) - 100% );
				}
			} // #bg-full 
			
		} // Large devices (desktops, 992px and up) 

	}
/* ----------------------------------------- Contato */	

/* Legislações */
/* ----------------------------------------- */
	article.type-legislacao {
		padding: 2rem 0 3rem;
		h1 {
			font-size: 1rem;
			color: $body-color;
			margin-bottom: 1rem;
		}
	}
/* ----------------------------------------- Legislações */		


/* Downloads */
/* ----------------------------------------- */
	article.type-download {
		padding: 2rem 0;
		h1 {
			font-size: 1.4rem;
			color: $body-color;
			margin-bottom: 1rem;
		}
	}
	header {
		+ article.type-download {
			margin-top: 1rem;
		}
	}
/* ----------------------------------------- Downloads */		


/* Formulários */
/* ----------------------------------------- */
	.acf-form {
		&.form-cadastro {
			background-color: #dbdbdb;
			box-shadow: inset 0px 0px 5px 2px rgba(194,194,194,1);
			padding: 1em;

			.acf-fields {
				.acf-field {
					border: 0 !important;
					padding: 0 0 1rem 0;

					&[data-width="50"] {
						&:nth-child(2n) {
							padding-right: 10px;
						}
						&:nth-child(2n+1) {							
							padding-left: 10px;
						}

					}
					.acf-label {
						display: none;
					}
					.select-box {
						margin-bottom: 0 !important;
						border: 1px solid $gray-400;						
					}
					.acf-input {
						input, textarea, select {
							padding: 1rem .75rem;
							height: auto;
							font-size: 0.9rem;
							font-family: "Roboto Condensed", sans-serif;
							font-weight: bold;
							text-transform: uppercase;	
							color: $body-color;				
							border: 1px solid rgb(238, 238, 238);
						}
						.acf-icon {
							top: 17px;
							+ input {
								padding-left: 1.5rem;
							}	
						}
						
						/* Upload */
						/* ----------------------------------------- */								
								.hide-if-value {
									width: 100%;
									display: flex;
									&:hover {
										.btn {
											color: #ffffff;
										}
									}
								}

								.show-if-value {
									.file-icon { 
										display: none;
									} 
									.file-info {
										margin-left: 0;
										p {
											&:first-of-type {
												display: none;
											}
											strong {
												font-weight: normal;
												font-size: 12px;
											}
										}
									}
									.acf-hl {
										visibility: visible;
										opacity: 1;
										top: inherit;
										bottom: 5px;
									}
								}

								input[type=file] {
									position: absolute;
								  top: 0; left: 0;
								  width: 100%;
								  opacity: 0;
								  height: 100%;
								  cursor: pointer;
								}
								.btn {
									padding: 1rem .5rem;
									margin-left: 3px;
									height: 55px;
									line-height: 21px;
									text-align: center;
									float: right;
									text-transform: uppercase;
								}
								
								+ p.description {
									display: block;
									clear: both;
									font-size: 10px;
									margin: 0;
									letter-spacing: .2px;
								}
						/* ----------------------------------------- Upload */		

					}
				}
			}
		}
	}
/* ----------------------------------------- Formulários */		


/* Fornecedores */
/* ----------------------------------------- */
	// body.archive.author {
	// 	#sidebar {
	// 		margin-top: 5rem;
	// 	}
	// }
	.list-fornecedores {
		padding: 2rem 0;

		.fornecedor {
			border-top: 1px solid #757e84;
			padding: 1.7rem 0 1.7rem 2rem;
			&:last-of-type {
				border-bottom: 1px solid #757e84;
			}
			
			.box-avatar {
				margin-right: 3rem;
			}

			.link-recomendacao {
				font-weight: bold;
				font-size: .95rem;
				text-decoration: underline;
				&:hover {
					text-decoration: none !important;
				}
			}
		}
	}

	.box-avatar {
		flex-shrink: 0;
		img {
			max-width: 80px;
		}
	}

	.section-title {
		padding-top: 3rem;
		border-bottom: 1px solid theme-color("primary");
		font-size: 1.1rem;
		padding-bottom: 5px;
	}
	
	.list-recomendacoes {
		.recomendacao {
			padding: 1rem 0;
			margin-bottom: 1rem;
			border-bottom: 1px solid theme-color("primary");			
		}
	}
/* ----------------------------------------- Fornecedores */		


/* Home */
/* ----------------------------------------- */
		#slideshow {
			width: 100%;
			overflow: hidden;
			.banner {
				opacity: 0;
				margin-bottom: 0;
				&.slick-initialized {
					opacity: 1;
				}
			}
			.slick-slide {
				text-align: center;
				img {
					display: inline-block;
				}

				a {
					display: block;								
				}
			}
			
			.slick-arrow {
				z-index: 99;
				height: auto;							
				&, &:before {
					font-family: FontAwesome !important;
					font-size: 40px;

					@include media-breakpoint-up(md) {
						font-size: 60px; 
					} // Large devices (desktops, 992px and up) 

					@include media-breakpoint-up(lg) {
						font-size: 120px; 
					} // Large devices (desktops, 992px and up) 
				}

				&.slick-prev {
					left: 15%;
					&:before {
						content: "\f104";
					}
				}
				
				&.slick-next {					
					right: 15%;
					&:before {
						content: "\f105";
					}
				}

			}
			.slick-dots {
				bottom: 35px;
				li {
					button {		
						&:before {
							background-color: white;
							color: white;
						}
					}

					&.slick-active {
						width: 15px;
						height: 15px;
						button {
							width: 15px;
							height: 15px;
							&:before {
								width: 15px;
								height: 15px;
								color: theme-color("secondary");
								background-color: theme-color("secondary");
							}
						}
					}
				}
			}

		}

		#carousel-last-posts-wrapper {
			padding: 1rem 0;
			background-color: white;		
			color: theme-color("bodytext");
			border-top: .5px lightgray solid;
			.title {
				text-align: center;
				text-transform: uppercase;
				color: theme-color("bodytext");
				padding: 1rem;
				margin-bottom: 0;				
			}

			@include media-breakpoint-up(md) {
				border-top: 0;
				.title {
					font-size: 1.2rem;
				}
			} // Medium devices (tablets, 768px and up) 

			.slick-last-posts {
				margin-left: auto;
				margin-right: auto;
				max-width: calc(100% - 50px);
				margin-top: 2rem;
				.slick-track{
				    display: flex;
				    .slick-slide{
				        display: flex;
				        height: auto;
				    }
				}
				
				.slick-prev {
				    left: -75px;
				    padding: 1rem;
				    border: 2px solid theme-color("secondary");				    
				    &:before {
				      content: "\f060";
				      display: flex;
				      height: 100%;
				      justify-content: center;
				      align-items: center;
				      color: theme-color("secondary");
				      font: normal normal normal 14px/1 FontAwesome;
				    }
				}

				.slick-next {
				    right: -75px;
				    padding: 1rem;
				    border: 2px solid theme-color("secondary");				    
				    &:before {
				      content: "\f061";
				      display: flex;
				      height: 100%;
				      justify-content: center;
				      align-items: center;
				      color: theme-color("secondary");
				      font: normal normal normal 14px/1 FontAwesome;
				    }
				}

				article {	
					margin-bottom: 1rem;
					a {
						color: theme-color("bodytext");
						text-align: center;
						display: block;
						margin: 0 1rem;
						padding: .5rem 0;						
						height: 100%;
						width: 100%;
						@include media-breakpoint-up(md) {							
							border-left: 1px solid lightgray;
							border-right: 1px solid lightgray; 
						} // Large devices (desktops, 992px and up) 
						* {
							max-width: 280px;
							display: block;
							margin-left: auto;
							margin-right: auto;
						}
						h1 {
							font-size: 1.1rem;							
							color: inherit;
							text-transform: uppercase;
						}
						@include media-breakpoint-up(md) {
							h1 {
								font-size: 1.2rem;
							} 
							p {
								font-size: .9rem;
							}
						} // Large devices (desktops, 992px and up) 
						// span {
						// 	color: theme-color("primary");
						// 	font-family: "Roboto Condensed", sans-serif;
						// 	font-size: .9rem;
						// 	padding: .5rem;			
						// 	transition: 300ms ease all;				
						// }

						&:hover {							
							&, & * { text-decoration: none !important;}
							// span {
							// 	background-color: theme-color("primary");
							// 	color: white;
							// }					
						}

					} // a

					&:nth-of-type(2n) a {
						border-left: 0;
					}

				} // article
			}	// slick-last-posts
		} // carousel-last-posts-wrapper
	

		#carousel-secoes-wrapper {			
			padding: 2rem 0;
			.slick-secoes {

				@include media-breakpoint-up(md) {
					.slick-track {
						display: flex;
						.slick-slide {
							display: flex;
				      		height: auto;	
						}
					} 
				} // Large devices (desktops, 992px and up) 
				
				.slick-track{
				    .slick-slide{					   
					    flex-direction: column;
			            justify-content: center;
			            align-items: center;	
			            transition: 300ms ease all;	            

			            .wrapper {
			            	background-color: white;
			            	margin: 1rem;
			            	padding: 2rem 2rem;
			            	display: flex;
	    			        flex-direction: column;
		    	            justify-content: center;
		    	            align-items: center;
		    	            text-align: center;
		    	            transition: 300ms ease all;
		    	            h2 {
		    	            	font-size: 1.3rem;
		    	            	margin-bottom: 1rem;
		    	            	margin-top: .5rem;
		    	            }    	            
			            }
			            &:hover {
			            	transform: scale(1.07);
			            	.wrapper {
			            		box-shadow: 0px 0px 6px 1px rgba(194,194,194,.3);		            		
			            	}		            	
			            }
				    }
				}
				
				.slick-prev {
				    left: -40px;
				    padding: 1rem;
				    border: 2px solid theme-color("rosaclaro");	
				    background-color: theme-color("rosaclaro");
				    &:before {
				      content: "\f060";
				      display: flex;
				      height: 100%;
				      justify-content: center;
				      align-items: center;
				      font: normal normal normal 14px/1 FontAwesome;
				    }
				}

				.slick-next {
				    right: -40px;
				    padding: 1rem;
				    border: 2px solid theme-color("rosaclaro");	
				    background-color: theme-color("rosaclaro");
				    &:before {
				      content: "\f061";
				      display: flex;
				      height: 100%;
				      justify-content: center;
				      align-items: center;
				      font: normal normal normal 14px/1 FontAwesome;
				    }
				}
				
			}	// slick-last-posts
		} // carousel-secoes-wrapper
	
	#section-cursos-wrapper {
		padding: 3rem 0;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		h2 {
			font-size: 2.9rem;
			text-transform: uppercase;
			margin-bottom: 1rem;			
		}

		a.d-flex {
			margin-bottom: 10px;
			transition: 300ms ease all;
			time {
				background-color: theme-color(azulsecovi);
				color: white;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				padding: 1rem;
				text-transform: uppercase;
				line-height: 1.1rem;		
				transition: 300ms ease all;		
				span {
					font-size: 3.5rem;
					line-height: 3rem;
					font-family: "Roboto Condensed", sans-serif;					
					font-weight: bold;
				}				
			}
			> span {
				background-color: white;
				padding: .7rem 2rem;
				p {
					margin: 0;
				}
			}
			&:hover {
				&, & * {
					text-decoration: none;
				}
				time {
					background-color: theme-color("secondary");
				}
			}
		}
	}

	#sobre-nos-wrapper {
		padding: 5rem 0;		
		background-position: center center;
		background-size: cover;
		.wrapper {
			padding: 3.5rem 2.5rem 2.5rem;
			h2 {
				font-size: 2.7rem;
				font-weight: normal;
			}
			p {
				margin-bottom: 1.5rem;
			}
		}
		.embed-responsive {
			width: calc(100% - 30px);
		}
		iframe {
			height: 100%;
			@include media-breakpoint-down(sm) {
				 min-height: 300px;
				 position: relative;
				 width: 100%;
				 margin-top: 30px;
				 left: 15px;
			} // @media (min-width: 576px) 
		}
	}
/* ----------------------------------------- Home */		


.page-template-page-convencoes-coletivas {
	.tooltip.bs-tooltip-top {
		top: 10px !important;
	}
}



/* Clipping */
/* ----------------------------------------- */
	// Esconde o breadcrumb "Revista Digital" nos clippings
	body.archive.category-clipping {
		#breadcrumbs > span > span > span > a, 
		#breadcrumbs > span > span > span > a + i {
			display: none;
		}
	}	
/* ----------------------------------------- Clipping */		

/* Search */
/* ----------------------------------------- */
	.search {		
		&-wrapper {
			padding: 26px 0;
			position: fixed;
			top: 0;
			transform: translateY(-100%);			
			transition: 350ms ease-in-out all;
			background: white;
			width: 100%;
    	left: 0;

			&.active {
				transform: translateY(0);				
			}

			.fa {
				font: normal normal normal 14px/1 FontAwesome !important;
				padding: 18px 0 18px 10px;
				align-self: center;
				cursor: pointer;
			}

		}
		&-toggler {
			padding: 10px 5px;
			margin-left: auto;
			margin-right: 15px;
			cursor: pointer;
			&:hover {
				color: theme-color('primary');
			}
		}
		&-wrapperform {
			
			#search-box .search-field {
				max-width: none;
			}
		}

		@include media-breakpoint-up(md) {
			&-toggler {
				order: 3;
				margin-right: -18px;
				padding-right: 10px;
			}

			&-wrapper {
				padding: 44px 0;
				position: absolute;
			}
		}
	}
/* ----------------------------------------- Search */

/* Classificados */
/* ----------------------------------------- */
.page-template-page-classificados,
.tax-tipo{
	#slideshow{
		@include media-breakpoint-up(lg) {
			margin-top: 153px !important;
		}
		@media (min-width: 1400px) {
			margin-top: 140px !important;
		}
		.slick-slider{
			.slick-dots{
				display: none;
			}
		}
	}
	#main-content.no-slider{
		@include media-breakpoint-up(lg) {
			margin-top: 153px !important;
		}
		@media (min-width: 1400px) {
			margin-top: 140px !important;
		}
	}
}

.search.post-type-archive-classificado,
.single-classificado{
	#main-content{
		@include media-breakpoint-up(lg) {
			margin-top: 153px !important;
		}
		@media (min-width: 1400px) {
			margin-top: 140px !important;
		}
	}
}

#main-content{
	&.classificados{
		padding-top: 0;
		padding-bottom: 0;
		.main-categories-wrapper{
			background-color: #FE5722;
			margin-bottom: 70px;
			@include media-breakpoint-down(md) {
				margin-bottom: 30px;
			}
			@include media-breakpoint-up(xl)  {
				.container-fluid {
					max-width: 1200px;
				}
			}
			.container-fluid {
				ul{
					list-style-type: none;
					margin: 0;
					padding: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					li{
						width: 33%;
						position: relative;
						text-align: center;
						a{
							display: flex;
							justify-content: center;
							align-items: center;
							font-family: 'Roboto', sans-serif;
							font-size: 16px;
							font-weight: 400;
							color: #FFFFFF;
							line-height: 1;
							text-transform: uppercase;
							margin: 0;
							text-decoration: none;
							-webkit-transition: all 300ms ease-in-out;
							-moz-transition: all 300ms ease-in-out;
							-ms-transition: all 300ms ease-in-out;
							-o-transition: all 300ms ease-in-out;
							transition: all 300ms ease-in-out;
							&:hover,
							&.active{
								background-color: #EB3900;
								-webkit-transition: all 300ms ease-in-out;
								-moz-transition: all 300ms ease-in-out;
								-ms-transition: all 300ms ease-in-out;
								-o-transition: all 300ms ease-in-out;
								transition: all 300ms ease-in-out;
							}
							&::after{
								content: '';
								background-color: rgba($color: #FFFFFF, $alpha: .4);
								position: absolute;
								display: block;
								width: 1px;
								height: 100%;
								top: 0;
								right: 0;
							}
							.icon{
								position: relative;
								display: block;
								margin-right: 20px;
							}
						}
						&:first-child{
							a{
								padding: 17px 0px 18px 0px;
								&::before{
									content: '';
									background-color: rgba($color: #FFFFFF, $alpha: .4);
									position: absolute;
									display: block;
									width: 1px;
									height: 100%;
									top: 0;
									left: 0;
								}
								.icon{
									width: 43px;
									height: 45px;
								}
							}
						}
						&:nth-child(2){
							a{
								padding: 18px 0px;
								.icon{
									width: 44px;
									height: 44px;
								}
							}
						}
						&:last-child{
							a{
								padding: 19px 0px 20px 0;
								.icon{
									width: 46px;
									height: 41px;
								}
							}
						}
					}
				}
				@include media-breakpoint-down(md) {
					padding: 0;
					ul{
						display: flex;
					}
				}
				@include media-breakpoint-down(sm) {
					ul{
						display: block;
						li{
							width: 100%;
							&:first-child{
								a{
									&::before,
									&::after{
										display: none;
									}
								}
							}
							a{
								&::after{
									width: 100%;
									height: 1px;
								}
							}
						}
					}
				}
			}
		}
		.ads-banner-wrapper{
			border-radius: 8px;
			margin-bottom: 80px;
			.texts-wrapper{
				padding-top: 50px;
				padding-left: 70px;
				h4{
					font-family: "Raleway", sans-serif;
					font-weight: bold;
					font-size: 24px;
					color: #FFFFFF;
					margin-bottom: 20px;
				}
				p{
					font-family: "Roboto", sans-serif;
					font-weight: 400;
					font-size: 16px;
					color: #FFFFFF;
					line-height: 1.5;
					margin-bottom: 30px;
				}
				a{
					font-family: "Roboto", sans-serif;
					font-weight: bold;
					font-size: 16px;
					color: #FFFFFF;
					line-height: 1;
					text-transform: uppercase;
					padding: 10px;
					text-decoration: none;
					border-radius: 4px;
					-webkit-transition: all 300ms ease-in-out;
					-moz-transition: all 300ms ease-in-out;
					-ms-transition: all 300ms ease-in-out;
					-o-transition: all 300ms ease-in-out;
					transition: all 300ms ease-in-out;
					&:hover{
						-webkit-transition: all 300ms ease-in-out;
						-moz-transition: all 300ms ease-in-out;
						-ms-transition: all 300ms ease-in-out;
						-o-transition: all 300ms ease-in-out;
						transition: all 300ms ease-in-out;
					}
				}
			}
			.image-wrapper{
				img{
					float: right;
				}
			}
			@include media-breakpoint-down(md) {
				.texts-wrapper{
					padding: 30px 40px;
					a{
						font-size: 14px;
					}
				}
			}
		}
		.carousel-classificados-wrapper{
			margin-bottom: 80px;
			.title{
				font-family: "Raleway", sans-serif;
				font-weight: 600;
				font-size: 24px;
				color: #6D767C;
				text-align: center;
				margin-bottom: 45px;
			}
			.container-fluid{
				padding: 0 65px;
				@include media-breakpoint-up(xl)  {
					max-width: 1200px;
				}
				@include media-breakpoint-down(md) {
					padding: 0 15px;
				}
				.slick-classificados{
					.slick-prev {
				    left: -40px;
				    padding: 1rem;
				    border: 2px solid #DCAD77;	
				    background-color: #DCAD77;
				    &:before {
				      content: "\f060";
				      display: flex;
				      height: 100%;
				      justify-content: center;
				      align-items: center;
				      font: normal normal normal 14px/1 FontAwesome;
				    }
					}
					.slick-next {
							right: -40px;
							padding: 1rem;
							border: 2px solid #DCAD77;	
							background-color: #DCAD77;
							&:before {
								content: "\f061";
								display: flex;
								height: 100%;
								justify-content: center;
								align-items: center;
								font: normal normal normal 14px/1 FontAwesome;
							}
					}
					margin: 0 -15px 30px -15px;
					article{
						background-color: #FFFFFF;
						min-height: 480px;
						padding: 0;
						margin: 15px;
						border-radius: 4px;
						box-shadow: 0 .125rem .25rem rgba(0,0,0,.3);
						-webkit-transition: all 300ms ease-in-out;
						-moz-transition: all 300ms ease-in-out;
						-ms-transition: all 300ms ease-in-out;
						-o-transition: all 300ms ease-in-out;
						transition: all 300ms ease-in-out;
						a{
							text-decoration: none;
							cursor: pointer;
							outline: none;
							.image-wrapper{
								border-bottom: 1px solid #014483;
								display: flex;
								justify-self: center;
								align-items: center;
								height: 150px;
								img{
									position: relative;
									display: block;
									max-width: 100%;
									max-height: 130px;
									margin: 0 auto;
								}
							}
							h4{
								font-family: "Raleway", sans-serif;
								font-weight: 700;
								font-size: 20px;
								color: #364A65;
								text-transform: uppercase;
								padding: 30px 20px 0 20px;
								margin-bottom: 0;
							}
							.string_limit{
								font-family: "Roboto", sans-serif;
								font-weight: 400;
								font-size: 15px;
								color: #6D767C;
								line-height: 1.5;
								padding: 20px;
								margin-bottom: 0;
							}
						}
						.texts-wrapper{
							padding: 20px;
							p{
								font-family: "Raleway", sans-serif;
								font-weight: 600;
								font-size: 14px;
								line-height: 1;
								color: #6D767C;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								&.tel,
								&.wpp{
									font-size: 16px;
									margin-bottom: 10px;
									color: #FE5722;
								}
								&.tel{
									font-family: "Roboto", sans-serif;
								}
								&.email{
									margin-bottom: 10px;
								}
							}
							.site{
								display: block;
								font-family: "Raleway", sans-serif;
								font-weight: 600;
								font-size: 14px;
								line-height: 1;
								color: #00A0D2;
								text-decoration: underline;
								margin-bottom: 10px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								&:hover{
									text-decoration: none;
								}
							}
							.tags-list-wrapper{
								list-style-type: none;
								display: flex;
								justify-content: flex-start;
								align-items: center;
								padding: 10px 0 0 0;
								margin: 0;
								li{
									position: relative;
									display: block;
									background: #004f98;
									padding: 3px 8px;
									border-radius: 20px;
									font-size: 13px;
									font-family: "Roboto", sans-serif;
									color: #FFFFFF;
									line-height: 1;
									margin-right: 5px;
									&:last-child{
										margin-right: 0;
									}
								}
							}
						}
						&:hover{
							box-shadow: none;
							-webkit-transition: all 300ms ease-in-out;
							-moz-transition: all 300ms ease-in-out;
							-ms-transition: all 300ms ease-in-out;
							-o-transition: all 300ms ease-in-out;
							transition: all 300ms ease-in-out;
						}
					}
				}
			}
			.btn-more-wrapper{
				position: relative;
				display: block;
				text-align: center;
				a{
					background-color: #FE5722;
					position: relative;
					display: inline-block;
					line-height: 1;
					color: #FFF;
					font-family: "Roboto", sans-serif;
					font-weight: bold;
					font-size: 16px;
					text-transform: uppercase;
					border-radius: 4px;
					padding: 15px 30px;
					text-align: center;
					text-decoration: none;
					-webkit-transition: all 300ms ease-in-out;
					-moz-transition: all 300ms ease-in-out;
					-ms-transition: all 300ms ease-in-out;
					-o-transition: all 300ms ease-in-out;
					transition: all 300ms ease-in-out;
					&:hover{
						background-color: #EB3900;
						-webkit-transition: all 300ms ease-in-out;
						-moz-transition: all 300ms ease-in-out;
						-ms-transition: all 300ms ease-in-out;
						-o-transition: all 300ms ease-in-out;
						transition: all 300ms ease-in-out;
					}
				}
			}
		}
		.wp-pagenavi{
			width: 100%;
			text-align: center;
			margin-top: 0;
			margin-bottom: 100px;
			span, a{
				border: 0 !important;
				padding: 0;
				margin: 0 7px 0 0;
				line-height: 43px;
				min-width: 43px;
			}
			.current{
				background-color: #FFFFFF;
				color: #A9A9A9 !important;
			}
			a,
			.nextpostslink,
			.prevpostslink{
				background-color: #014483;
				color: #FFFFFF;
				-webkit-transition: all 300ms ease-in-out;
				-moz-transition: all 300ms ease-in-out;
				-ms-transition: all 300ms ease-in-out;
				-o-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;
				&:hover{
					background-color: #FFFFFF;
					color: #A9A9A9 !important;
					-webkit-transition: all 300ms ease-in-out;
					-moz-transition: all 300ms ease-in-out;
					-ms-transition: all 300ms ease-in-out;
					-o-transition: all 300ms ease-in-out;
					transition: all 300ms ease-in-out;
				}
			}
			.last{
				background-color: #FFFFFF;
				color: #6D767C;
			}
		}
	}
	&.categorias{
		.main-categories-wrapper{
			margin-bottom: 0;
		}
		.search-classificados-wrapper{
			background-color: #0068C9;
			margin-bottom: 70px;
			padding: 20px 0;
			@include media-breakpoint-down(md) {
				margin-bottom: 30px;
			}
			@include media-breakpoint-up(xl) {
				.container-fluid {
					max-width: 1200px;
				}
			}
			.container-fluid {
				#search-box{
					align-items: flex-end;
					.form-group{
						width: 33%;
						margin-right: 30px;
						&:nth-child(2){
							width: 50%;
						}
						label{
							font-family: "Roboto", sans-serif;
							font-weight: 400;
							font-size: 16px;
							color: #FFFFFF;
							line-height: 1;
							text-transform: lowercase;
							margin-bottom: 10px;
						}
						.select-box{
							box-shadow: 0;
							select{
								font-family: "Roboto", sans-serif;
								font-weight: 400;
								font-size: 16px;
								color: #6D767C;
								line-height: 1;
								text-transform: lowercase;
								border-radius: 4px;
							}
							&::after{
								color: #FF7918;
							}
						}
						#search-field{
							background-color: #FFFFFF;
							font-family: "Roboto", sans-serif;
							font-weight: 400;
							font-size: 16px;
							color: #6D767C;
							line-height: 1;
							text-transform: lowercase;
							padding: .8rem .75rem;
							box-shadow: none;
							border: 0;
							border-radius: 4px;
						}
					}
					.btn{
						background-color: #FE5722;
						width: 15%;
						font-family: "Roboto", sans-serif;
						font-weight: 400;
						font-size: 16px;
						color: #FFFFFF;
						line-height: 1;
						text-transform: uppercase;
						padding: .8rem .75rem;
						margin-bottom: 10px;
						border-radius: 4px;
						-webkit-transition: all 300ms ease-in-out;
						-moz-transition: all 300ms ease-in-out;
						-ms-transition: all 300ms ease-in-out;
						-o-transition: all 300ms ease-in-out;
						transition: all 300ms ease-in-out;
						&:hover{
							background-color: #EB3900;
							-webkit-transition: all 300ms ease-in-out;
							-moz-transition: all 300ms ease-in-out;
							-ms-transition: all 300ms ease-in-out;
							-o-transition: all 300ms ease-in-out;
							transition: all 300ms ease-in-out;
						}
					}
					@include media-breakpoint-down(sm) {
						display: block !important;
						.form-group{
							width: 100%;
							margin: 0 0 10px 0;
							&:nth-child(2){width: 100%;}
						}
						.btn{
							width: 100%;
							margin: 0 auto;
						}
					}
				}
			}
		}
		.cpt-categories-wrapper{
			.container-fluid{
				padding: 0 65px;
				@include media-breakpoint-up(xl)  {
					max-width: 1200px;
				}
				@include media-breakpoint-down(md) {
					padding: 0 15px;
				}
				.title{
					font-family: "Raleway", sans-serif;
					font-weight: 600;
					font-size: 24px;
					color: #6D767C;
					text-align: center;
					margin-bottom: 45px;
				}
				article{
					@include media-breakpoint-down(md) {
						margin-bottom: 20px;
					}
					>div{
						background-color: #FFFFFF;
						min-height: 480px;
						margin: 0;
						border-radius: 4px;
						box-shadow: 0 .125rem .25rem rgba(0,0,0,.3);
						-webkit-transition: all 300ms ease-in-out;
						-moz-transition: all 300ms ease-in-out;
						-ms-transition: all 300ms ease-in-out;
						-o-transition: all 300ms ease-in-out;
						transition: all 300ms ease-in-out;
						a{
							text-decoration: none;
							cursor: pointer;
							outline: none;
							.image-wrapper{
								border-bottom: 1px solid #014483;
								display: flex;
								justify-self: center;
								align-items: center;
								height: 150px;
								img{
									position: relative;
									display: block;
									max-width: 100%;
									max-height: 130px;
									margin: 0 auto;
								}
							}
							h4{
								font-family: "Raleway", sans-serif;
								font-weight: 700;
								font-size: 20px;
								color: #364A65;
								text-transform: uppercase;
								padding: 30px 20px 0 20px;
								margin-bottom: 0;
							}
							.string_limit{
								font-family: "Roboto", sans-serif;
								font-weight: 400;
								font-size: 15px;
								color: #6D767C;
								line-height: 1.5;
								padding: 20px;
								margin-bottom: 0;
							}
						}
						.texts-wrapper{
							padding: 20px;
							p{
								font-family: "Raleway", sans-serif;
								font-weight: 600;
								font-size: 14px;
								line-height: 1;
								color: #6D767C;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								&.tel,
								&.wpp{
									font-size: 16px;
									margin-bottom: 10px;
									color: #FE5722;
								}
								&.tel{
									font-family: "Roboto", sans-serif;
								}
								&.email{
									margin-bottom: 10px;
								}
							}
							.site{
								display: block;
								font-family: "Raleway", sans-serif;
								font-weight: 600;
								font-size: 14px;
								line-height: 1;
								color: #00A0D2;
								text-decoration: underline;
								margin-bottom: 10px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								&:hover{
									text-decoration: none;
								}
							}
							.tags-list-wrapper{
								list-style-type: none;
								display: flex;
								justify-content: flex-start;
								align-items: center;
								padding: 10px 0 0 0;
								margin: 0;
								li{
									position: relative;
									display: block;
									background: #004f98;
									padding: 3px 8px;
									border-radius: 20px;
									font-size: 13px;
									font-family: "Roboto", sans-serif;
									color: #FFFFFF;
									line-height: 1;
									margin-right: 5px;
									&:last-child{
										margin-right: 0;
									}
								}
							}
						}
						&:hover{
							box-shadow: none;
							-webkit-transition: all 300ms ease-in-out;
							-moz-transition: all 300ms ease-in-out;
							-ms-transition: all 300ms ease-in-out;
							-o-transition: all 300ms ease-in-out;
							transition: all 300ms ease-in-out;
						}
					}
				}
			}
		}
	}
	&.pesquisa{
		.results{
			.container-fluid{
				@include media-breakpoint-up(xl)  {
					max-width: 1200px;
				}
				#breadcrumbs{
					font-family: "Raleway", sans-serif;
					font-weight: 600;
					font-size: 16px;
					color: #6D767C;
				}
				.title{
					font-family: "Raleway", sans-serif;
					font-weight: 600;
					font-size: 24px;
					color: #6D767C;
					text-align: center;
					margin-bottom: 45px;
				}
				article{
					@include media-breakpoint-down(md) {
						margin-bottom: 20px;
					}
					>div{
						background-color: #FFFFFF;
						min-height: 480px;
						padding: 0;
						margin: 0;
						border-radius: 4px;
						box-shadow: 0 .125rem .25rem rgba(0,0,0,.3);
						-webkit-transition: all 300ms ease-in-out;
						-moz-transition: all 300ms ease-in-out;
						-ms-transition: all 300ms ease-in-out;
						-o-transition: all 300ms ease-in-out;
						transition: all 300ms ease-in-out;
						@include media-breakpoint-down(md) {
							margin: 0 0 40px 0;
						}
						a{
							text-decoration: none;
							cursor: pointer;
							outline: none;
							.image-wrapper{
								border-bottom: 1px solid #014483;
								display: flex;
								justify-self: center;
								align-items: center;
								height: 150px;
								img{
									position: relative;
									display: block;
									max-width: 100%;
									max-height: 130px;
									margin: 0 auto;
								}
							}
							h4{
								font-family: "Raleway", sans-serif;
								font-weight: 700;
								font-size: 20px;
								color: #364A65;
								text-transform: uppercase;
								padding: 30px 20px 0 20px;
								margin-bottom: 0;
							}
							.string_limit{
								font-family: "Roboto", sans-serif;
								font-weight: 400;
								font-size: 15px;
								color: #6D767C;
								line-height: 1.5;
								padding: 20px;
								margin-bottom: 0;
							}
						}
						.texts-wrapper{
							padding: 20px;
							p{
								font-family: "Raleway", sans-serif;
								font-weight: 600;
								font-size: 14px;
								line-height: 1;
								color: #6D767C;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								&.tel,
								&.wpp{
									font-size: 16px;
									margin-bottom: 10px;
									color: #FE5722;
								}
								&.tel{
									font-family: "Roboto", sans-serif;
								}
								&.email{
									margin-bottom: 10px;
								}
							}
							.site{
								display: block;
								font-family: "Raleway", sans-serif;
								font-weight: 600;
								font-size: 14px;
								line-height: 1;
								color: #00A0D2;
								text-decoration: underline;
								margin-bottom: 10px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								&:hover{
									text-decoration: none;
								}
							}
							.tags-list-wrapper{
								list-style-type: none;
								display: flex;
								justify-content: flex-start;
								align-items: center;
								padding: 10px 0 0 0;
								margin: 0;
								li{
									position: relative;
									display: block;
									background: #004f98;
									padding: 3px 8px;
									border-radius: 20px;
									font-size: 13px;
									font-family: "Roboto", sans-serif;
									color: #FFFFFF;
									line-height: 1;
									margin-right: 5px;
									&:last-child{
										margin-right: 0;
									}
								}
							}
						}
						&:hover{
							box-shadow: none;
							-webkit-transition: all 300ms ease-in-out;
							-moz-transition: all 300ms ease-in-out;
							-ms-transition: all 300ms ease-in-out;
							-o-transition: all 300ms ease-in-out;
							transition: all 300ms ease-in-out;
						}
					}
				}
			}
		}
	}
	&.classificado{
		.main-categories-wrapper{
			margin-bottom: 50px;
			@include media-breakpoint-down(md) {
				margin-bottom: 30px;
			}
		}
		.classificado-wrapper{
			margin-bottom: 70px;
			.container-fluid{
				padding: 0 65px;
				@include media-breakpoint-up(xl)  {
					max-width: 1200px;
				}
				@include media-breakpoint-down(md) {
					padding: 0 15px;
				}
				#breadcrumbs{
					font-family: "Raleway", sans-serif;
					font-weight: 600;
					font-size: 16px;
					color: #6D767C;
					margin-bottom: 30px;
					padding: 0;
				}
				.row{
					margin: 0;
				}
				article{
					background-color: #FFFFFF;
					padding: 30px;
					margin: 0;
					border-radius: 4px;
					@include media-breakpoint-down(md) {
						margin-bottom: 20px;
					}
					.image-wrapper{
						border-bottom: 1px solid #014483;
						display: flex;
						justify-self: center;
						align-items: center;
						height: 320px;
						border-radius: 0;
						padding-bottom: 20px;
						margin-bottom: 40px;
						img{
							position: relative;
							display: block;
							max-width: 100%;
							max-height: 290px;
							margin: 0 auto;
						}
					}
					h2{
						font-family: "Raleway", sans-serif;
						font-weight: 600;
						font-size: 28px;
						line-height: 1;
						color: #6D767C;
						padding: 0;
						margin-bottom: 10px;
					}
					p{
						font-family: "Raleway", sans-serif;
						font-weight: 600;
						font-size: 14px;
						line-height: 1;
						color: #6D767C;
						&.tel,
						&.wpp{
							font-size: 16px;
							margin-bottom: 10px;
							color: #FE5722;
						}
						&.tel{
							font-family: "Roboto", sans-serif;
						}
						&.email{
							margin-bottom: 10px;
						}
					}
					.site{
						display: block;
						font-family: "Raleway", sans-serif;
						font-weight: 600;
						font-size: 14px;
						line-height: 1;
						color: #00A0D2;
						text-decoration: underline;
						margin-bottom: 40px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						&:hover{
							text-decoration: none;
						}
					}
					h4{
						font-family: "Raleway", sans-serif;
						font-weight: 600;
						font-size: 24px;
						line-height: 1;
						color: #6D767C;
						padding: 0;
						margin-bottom: 15px;
					}
					.desc{
						font-family: "Roboto", sans-serif;
						font-weight: 400;
						font-size: 16px;
						color: #6D767C;
						line-height: 1.5;
						padding: 0;
						margin: 0;
					}
					.tags-list-wrapper{
						list-style-type: none;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						padding: 10px 0 0 0;
						margin: 0;
						li{
							position: relative;
							display: block;
							background: #004f98;
							padding: 3px 8px;
							border-radius: 20px;
							font-size: 13px;
							font-family: "Roboto", sans-serif;
							color: #FFFFFF;
							line-height: 1;
							margin-right: 5px;
							&:last-child{
								margin-right: 0;
							}
						}
					}
				}
				aside{
					background-color: #FFFFFF;
					padding: 20px;
					margin: 0;
					border-radius: 4px;
					h2{
						font-family: "Raleway", sans-serif;
						font-weight: 600;
						font-size: 24px;
						line-height: 1;
						color: #6D767C;
						margin-bottom: 15px;
					}
					.wpcf7-form{
						.form-group{
							margin-bottom: 15px;
							.hide{
								display: none;
							}
							.form-control{
								background-color: #FFFFFF;
								font-family: "Raleway", sans-serif;
								font-weight: 600;
								font-size: 14px;
								line-height: 1;
								color: #6D767C;
								padding: 15px 20px;
								border: 1px solid #A9A9A9;
								border-radius: 4px;
								box-shadow: none;
								&::-webkit-input-placeholder{
									color: #A9A9A9;
								}
								&:-ms-input-placeholder{
									color: #A9A9A9;
								}
								&::placeholder{
									color: #A9A9A9;
								}
							}
							.btn{
								background: linear-gradient(89.24deg, #FE5722 19.69%, #FF7346 87.68%);
								width: 100%;
								font-family: "Roboto", sans-serif;
								font-weight: 700;
								font-size: 16px;
								color: #FFFFFF;
								line-height: 1;
								text-transform: uppercase;
								padding: .8rem .75rem;
								margin: 0;
								border-radius: 4px;
								box-shadow: 0px 4px 15px rgba(254, 87, 34, 0.3);
								-webkit-transition: all 300ms ease-in-out;
								-moz-transition: all 300ms ease-in-out;
								-ms-transition: all 300ms ease-in-out;
								-o-transition: all 300ms ease-in-out;
								transition: all 300ms ease-in-out;
								.fa{
									margin-right: 15px;
								}
								&:hover{
									box-shadow: 0px 4px 10px rgba(90, 30, 12, 0.3);
									-webkit-transition: all 300ms ease-in-out;
									-moz-transition: all 300ms ease-in-out;
									-ms-transition: all 300ms ease-in-out;
									-o-transition: all 300ms ease-in-out;
									transition: all 300ms ease-in-out;
								}
							}
						}
					}
				}
			}
		}
	}
}
/* ----------------------------------------- Classificados */
/* popup gprd */
/* ----------------------------------------- */
.gprd-wrap{
	position: fixed;
    z-index: 999999;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 7px 15px;
    color: inherit;
    font-size: inherit;
    display: block;
    text-align: center;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
	background: #e8e8e8;
	&.hide{
		transform: translateY(100%);
	}
	.container-fluid{
		.row{
			justify-content: center;
			align-items: center;
		}
	}
	p, .accept-btn, .read-more{
		font-size: 14px;
	}
	p{
		margin: 0;
		text-align: left;
		font-size: 14px;
		color: #333;
	}
	.accept-btn{
		color: #fff;
		background-color: #0068CC;
		padding: 5px 10px;
		margin: 0 5px;
		text-decoration: none;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		&:hover{
			background-color: #0055a6;
			-webkit-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-ms-transition: all 300ms ease-in-out;
			-o-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
		}
	}
	.read-more{
		margin: 0 5px;
		text-decoration: none;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		&:hover{
			color: #FE5722;
			-webkit-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-ms-transition: all 300ms ease-in-out;
			-o-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
		}
	}
	@include media-breakpoint-up(xl)  {
		
	}
	@include media-breakpoint-down(md) {
		p{
			margin: 0;
			max-width: 100%;
			padding-bottom: 20px;
		}
		.accept-btn{
			padding: 7px 10px;
			margin: 0 0 10px 0;
			display: block;
			text-align: center;
		}
		.read-more{
			margin: 0;
		}
	}
}
/* ----------------------------------------- popup gprd */